body{
  padding:0px;
  font-size: 18px;
}
.container-fluid{
  padding: 0px ;
}

.navbar-default{
  background-color: #3F51B5;
  padding: 5px 40px;

}

.navbar-default .navbar-brand ,.navbar-default .navbar-nav>li>a{
  color: white;
}

.navbar-default .navbar-brand:hover,.navbar-default .navbar-nav>li>a:hover{
  color:white;
  -webkit-transition: all .2s ease-in;
  background-color:#ffffff24;

}

.dropdown-menu{
min-width: 155px;

}
